.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: white;
}

.router-container {
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
}