.band-display-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.band-wrapper {
    position: relative;
    width: 530px;
    height: 400px; 
}

.band {
    opacity: 0; /* Initially hide all images */
    transform: translateY(20px); /* Slightly move images down */
    animation: fadeIn 0.5s forwards; /* Apply animation */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Fully visible */
        transform: translateY(0); /* Move to original position */
    }
}

.band:nth-child(1) { animation-delay: 0.5s; }
.band:nth-child(2) { animation-delay: 0.5s; }
.band:nth-child(3) { animation-delay: 1.0s; }
.band:nth-child(4) { animation-delay: 1.0s; }
.band:nth-child(5) { animation-delay: 1.5s; }

img {
    position: absolute;
}

.bass {
    width: 180px;
    top: 50px;
}

.drummer {
    width: 200px;
    top: -50px;
    left: 130px;
}

.vocal {
    width: 210px;
    top: 150px;
    left: 110px;
}

.elec {
    width: 215px;
    top: 100px;
    left: 260px;
}

.keyboard-player {
    width: 200px;
    top: 45px;
    left: 330px;
}

.keyboard {
    width: 170px;
    top: 120px;
    left: 350px;
}

.stage-circle {
    height: 320px;
    width: 950px;
    background-color: #474747;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: calc(50vh - 2rem);
}

.stage-square {
    height: calc(100vh - 50vh + 2rem );
    width: 950px;
    background: linear-gradient(to bottom, #474747, black); 
    display: block;
    position: absolute;
    top: calc(50vh - 2rem + 160px);
    z-index: -999;
}

.light-triangle {
    position: absolute;
    top: 3rem;
    width: 0;
	height: 0;
	border-left: 410px solid transparent;  /* Half of the bottom width (820px / 2) */
    border-right: 410px solid transparent; /* Half of the bottom width (820px / 2) */
    border-bottom: 450px solid rgba(255,254,217,0.4);    /* Height and color of the triangle */
}

.light-circle {
    position: absolute;
    width: 820px;
	height: 200px;
    background-color: rgba(255,254,217,0.4);
    border-radius: 50%;
	display: block;
    top: calc(50vh + 0.55rem);
}

@media (max-width: 768px) {
    .band-display-container {
        height: calc(100vh - 3rem);
    }

    .band-wrapper {
        position: relative;
        width: 240px;
        height: 400px; 
    }
    
    .bass {
        width: 75px;
        top: 50px;
        left: 30px;
    }
    
    .drummer {
        width: 70px;
        top: 30px;
        left: 60px;
    }
    
    .vocal {
        width: 90px;
        top: 80px;
        left: 80px;
    }
    
    .elec {
        width: 80px;
        top: 60px;
        left: 120px;
    }
    
    .keyboard-player {
        width: 75px;
        top: 30px;
        left: 135px;
    }
    
    .keyboard {
        width: 60px;
        top: 70px;
        left: 140px;
    }
    
    .stage-circle {
        height: 100px;
        width: 300px;
        top: calc(50vh - 2rem);
    }
    
    .stage-square {
        height: calc(50vh );
        width: 300px;
        top: calc(50vh + 50px - 2rem);
    }
    
    .light-triangle {
        display: none;
        top: 7rem;
        border-left: 100px solid transparent;  /* Half of the bottom width (820px / 2) */
        border-right: 100px solid transparent; /* Half of the bottom width (820px / 2) */
        border-bottom: 350px solid rgba(255,254,217,0.4);    /* Height and color of the triangle */
    }
    
    .light-circle {
        width: 200px;
        height: 50px;
        top: calc(50vh - 1rem);
    }
}

  /* Medium devices (tablets) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .band-wrapper {
        position: relative;
        width: 500px;
        height: 300px; 
    }
    
    .bass {
        width: 120px;
        top: calc(50px - 4rem);
        left: 100px;
    }
    
    .drummer {
        width: 120px;
        top: calc( -25px - 4rem);
        left: 150px;
    }
    
    .vocal {
        width: 150px;
        top: calc(100px - 4rem);
        left: 175px;
    }
    
    .elec {
        width: 140px;
        top: calc(50px - 4rem);
        left: 250px;
    }
    
    .keyboard-player {
        width: 120px;
        top: -4rem;
        left: 300px;
    }
    
    .keyboard {
        width: 120px;
        top: calc(50px - 4rem);
        left: 300px;
    }
    
    .stage-circle {
        height: 250px;
        width: 500px;
        background-color: #474747;
        border-radius: 50%;
        top: calc(50vh - 4rem);
    }
    
    .stage-square {
        height: calc(50vh);
        width: 500px;
        top: calc(50vh - 4rem + 125px);
    }
    
    .light-triangle {
        display: block;
        top: calc(3rem + 50px);
        border-left: 200px solid transparent;  /* Half of the bottom width (820px / 2) */
        border-right: 200px solid transparent; /* Half of the bottom width (820px / 2) */
        border-bottom: 400px solid rgba(255,254,217,0.4);    /* Height and color of the triangle */
    }
    
    .light-circle {
        width: 400px;
        height: 150px;
        top: calc(50vh - 1.25rem);
    }
  }
  