.band-display-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Inner wrapper that holds the images and positions them relatively */
.band-wrapper {
    position: relative;
    width: 530px;
    height: 400px; 
}

img {
    position: absolute;
}

/* Individual image positions */
.bass {
    width: 180px;
    top: 50px;
}

.drummer {
    width: 200px;
    top: -50px;
    left: 130px;
}

.vocal {
    width: 210px;
    top: 150px;
    left: 110px;
}

.elec {
    width: 215px;
    top: 100px;
    left: 260px;
}

.keyboard-player {
    width: 200px;
    top: 45px;
    left: 330px;
}

.keyboard {
    width: 170px;
    top: 120px;
    left: 350px;
}

.stage-circle {
    height: 320px;
    width: 950px;
    background-color: #474747;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: calc(50vh - 2rem);
}

.stage-square {
    height: calc(100vh - 50vh + 2rem );
    width: 950px;
    background: linear-gradient(to bottom, #474747, black); 
    display: block;
    position: absolute;
    top: calc(50vh - 2rem + 160px);
    z-index: -999;
}

.light-triangle {
    position: absolute;
    top: 3rem;
    width: 0;
	height: 0;
	border-left: 410px solid transparent;  /* Half of the bottom width (820px / 2) */
    border-right: 410px solid transparent; /* Half of the bottom width (820px / 2) */
    border-bottom: 450px solid rgba(255,254,217,0.4);    /* Height and color of the triangle */
}

.light-circle {
    position: absolute;
    width: 820px;
	height: 200px;
    background-color: rgba(255,254,217,0.4);
    border-radius: 50%;
	display: block;
    top: calc(50vh + 0.55rem);
}