@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Kantumruy Pro", sans-serif;
}
:root {
  --primary-color: #605DC8;
  --secondary-color: #8B89E6;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

.section-container {
  color: white;
  text-align: center;
  padding-top: 5rem;
}

.paragraph-container {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  line-height: 1.75rem;
}

a {
  color: #88E1F2; /* Light blue */
}

a:hover {
  color: lightgrey;
}

@media (max-width: 768px) {
  .paragraph-container {
    width: 100%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .paragraph-container {
    width: 70%;
  }
}
